h1 { margin-bottom: 20px; }
.timeline-frame {
  padding: 0;
}
.timeline-container .timeline-item-day {
  margin-left: 16px;
}
.timeline-container .timeline-item:first-child {
  border-top: 1px solid gray;
}
.timeline-container .timeline-item {
  border-bottom: 1px solid gray;
}
.timeline-container .timeline-item .timeline-item-link {
  display: block;
  padding: 20px 0 20px 0;
}
.timeline-container .timeline-item-icon-container {
  min-height: 37px;
}
.timeline-container .timeline-item-icon-container .icon {
  margin-left: 10px;
  min-height: 37px;
  line-height: 37px;
}
.timeline-container .timeline-item .timeline-item-icon-container .icon:after {
  font-size: 38px;
}
.timeline-container .timeline-item .timeline-item-title {
  margin: 0;
  font-size: 16px;
}
.timeline-container .timeline-item .timeline-item-time-container {
  text-align: right;
}
.timeline-container .timeline-item .timeline-item-time {
  margin-right: 10px;
}
