.container-fluid.timeline-frame {
  padding: 0;
}
.timeline-container .timeline-item {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid gray;
}
.timeline-container .timeline-item .icon:after {
  font-size: 20px;
}
