@font-face {
  font-family: "Font Fancy";
  src: local("Font Fancy"),
  url("../fonts/icons.ttf")
}

.icon {
  color:inherit;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  line-height: 0
}

.fancy-icon {
  font-family: "Font Fancy";
}

a.icon:hover{
  color:inherit
}

.medapp-icon-for_notes:after {
  content: 'N';
}

.medapp-icon-doc:after {
  content: '\e5';
  color: #3498db;
}

.medapp-icon-rad:after {
  content: 'R';
  color: #e67e22;
}

.medapp-icon-lab:after {
  content: 'L';
  color: #1abc9c;
}

.medapp-icon-treatment_record_timeline_item:after {
  content: 'r';
}

.medapp-icon-ch:after {
  content: 'CH';
  background-color: salmon;
}

.medapp-icon-ac:after {
  content: 'AC';
  background-color: lightblue;
}

.medapp-icon-admit:after {
  content: 'j';
}

.medapp-icon-discharge:after {
  content: 'Q';
}

.medapp-icon-female:after {
    content: 'F';
}

.medapp-icon-male:after {
    content: 'W';
}