<!DOCTYPE html>
<html ng-app="timeline-with-animation" ng-controller="RootCtrl" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="version" content="0.6.2">
    <title ng-bind="Settings.title()">Observations</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="build/timeline.css"/>
    <link rel="stylesheet" href="css/ng-mobile-menu.css"/>
  </head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <span ng-switch on="currentPage">
            <span ng-cloak ng-switch-when="timelineItem">
               <button type="button" class="navbar-toggle pull-left"
                       ng-click="gotoUrlFor('/')" style="width: 44px; height: 34px; padding: 0;">
                 <span class="back-button glyphicon glyphicon-arrow-left"></span>
               </button>
            </span>
            <span ng-switch-default>
              <button type="button" class="navbar-toggle pull-left" ng-click="$spMenu.toggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </span>
          </span>
          <a class="navbar-brand" href="#/" ng-bind="Settings.header()">
            Observations
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" style="padding-left: 25px;">
  <li ng-class="{active: currentPage === 'timelineList'}">
    <a href="#/">Observations</a>
  </li>
  <li ng-class="{active: currentPage === 'problemList'}">
    <a href="#/problem-list">Problem list</a>
  </li>
  <li ng-class="{active: currentPage === 'allergyList'}">
    <a href="#/allergy-list">Allergy list</a>
  </li>
  <li ng-class="{active: currentPage === 'encounterList'}">
    <a href="#/encounters">Encounters</a>
  </li>
  <li ng-class="{active: currentPage === 'profile'}">
    <a href="#/profile">Profile</a>
  </li>
</ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="navbar navbar-inverse" id="sp-nav">
      <ul class="nav navbar-nav" style="padding-left: 25px;">
  <li ng-class="{active: currentPage === 'timelineList'}">
    <a href="#/">Observations</a>
  </li>
  <li ng-class="{active: currentPage === 'problemList'}">
    <a href="#/problem-list">Problem list</a>
  </li>
  <li ng-class="{active: currentPage === 'allergyList'}">
    <a href="#/allergy-list">Allergy list</a>
  </li>
  <li ng-class="{active: currentPage === 'encounterList'}">
    <a href="#/encounters">Encounters</a>
  </li>
  <li ng-class="{active: currentPage === 'profile'}">
    <a href="#/profile">Profile</a>
  </li>
</ul>

    </div><!--/.nav-collapse -->

    <div id="sp-page">
      <div class="view-animate-container" ng-class="animateFlavor">
        <div ng-view class="view-animate"></div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="build/timeline.js"></script>
  </body>
</html>
