<!DOCTYPE html>
<html ng-app="timeline-with-animation" ng-controller="RootCtrl" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="version" content="0.6.2">
    <title ng-bind="Settings.title()">Observations</title>
    <link rel="stylesheet" href="build/timeline.css"/>
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/ng-mobile-menu.css"/>
    <link rel="stylesheet" href="bower_components/fullcalendar/fullcalendar.css"/>
  </head>
  <body>

    {{> body  }}

    <div id="sp-page">
      <div class="view-animate-container" ng-class="animateFlavor">
        <div ng-view class="view-animate"></div>
      </div>
    </div>

    <!-- Firebase -->
    <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>

    <script type="text/javascript" src="build/common_stuff.js"></script>

    <!-- AngularFire Plugin -->
    <script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/0.7.0/angularfire.min.js"></script>

    <script type="text/javascript" src="js/{{ kind }}.js"></script>
    <script type="text/javascript" src="build/calendar_stuff.js"></script>
  </body>
</html>
