<div class="chat container">
  <div ng-controller="ChatCtrl">
    <pre ng-bind="senderName | json"></pre>

    <div class="messages">
      <div class="row item-row" ng-repeat="message in messages">
        <div class="col-xs-12"><strong>{{message.sender}}:</strong></div>
        <div class="col-xs-12 text-right">{{message.body}}</div>
      </div>
    </div>
    <div class="chat-input">
      <form ng-submit='addMessage()'>
        <input type="text" class="form-control" id="message"
               placeholder="Message" ng-model="messageBody">
      </form>
    </div>
  </div>
</div>
