---
kind: patient
---
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <span ng-switch on="currentPage">
        <span ng-cloak ng-switch-when="timelineItem">
          <button type="button" class="navbar-toggle pull-left"
                  ng-click="gotoUrlFor('/')"
                  style="width: 44px; height: 34px; padding: 0;">
            <span class="back-button glyphicon glyphicon-arrow-left"></span>
          </button>
        </span>
        <span ng-switch-default>
          <button type="button" class="navbar-toggle pull-left" ng-click="$spMenu.toggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </span>
      </span>
      <a class="navbar-brand" href="#/" ng-bind="Settings.header()">
        Observations
      </a>
      <span class="navbar-brand navbar-brand-img pull-right top-header"></span>
    </div>
    <div class="collapse navbar-collapse">
      {{> _navbar_nav  }}
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="navbar navbar-inverse" id="sp-nav">
  {{> _navbar_nav  }}
</div><!--/.nav-collapse -->
