<div class="container-fluid timeline-frame" ng-controller="ListCtrl">
  <div class="timeline-container" ng-repeat="(day, items) in days">
    <h2>{{getDayFromKey(day) | date:'MMM d, yyyy'}}</h2>
    <ul class="list-unstyled">
      <li class="timeline-item" ng-repeat="item in items">
        <a class="timeline-item-link" href="#/item/{{ item.id }}">
          <div class="row">
            <div class="col-xs-2 col-md-1">
              <span class="icon" ng-class="'medapp-icon-' + item.type"></span>
            </div>
            <div class="col-xs-8 col-md-10">
              <span>{{item.type}}</span>
              <span class="text-muted">{{item.name}}</span>
            </div>
            <div class="col-xs-2 col-md-1">
              <span class="text-muted">
                {{item.createdAt | date:'HH:mm'}}
              </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
